@{
    ViewBag.Title = "Home Page";
}
@model List<Type>

@{
    var userRole = User.IsInRole("admin") ? "admin" : User.IsInRole("manager") ? "manager" : User.IsInRole("cashier") ? "cashier" : "";
    var isAuthenticated = User.Identity.IsAuthenticated;
}

<main>
    @*<section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>*@
    <section>
        <h1>Разработка веб-приложений</h1>
        <a>Ниже имеются все ссылки на созданные методы выполненые в время написания лабораторных работ</a>
    </section>
    <hr />
    <section>
        <table>
            <thead>
                <tr>
                    <th>Controller</th>
                    <th>Methods</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var controllerType in Model)
                {
                    var controllerName = controllerType.Name.Replace("Controller", "");
                    <tr>
                        <td>@controllerName</td>
                        <td>
                            <div>
                                @foreach (var methodInfo in controllerType.GetMethods())
                                {
                                    if (methodInfo.ReturnType == typeof(ActionResult) &&
                                        methodInfo.GetCustomAttributes(typeof(HttpPostAttribute), false).Length == 0)
                                    {
                                        var authorizeAttr = methodInfo.GetCustomAttributes(typeof(AuthorizeAttribute), false).FirstOrDefault() as AuthorizeAttribute;

                                        // Фильтрация для авторизованных пользователей и по роли
                                        bool canAccess = true;
                                        // Если метод требует авторизации, проверяем доступ для текущего пользователя
                                        if (authorizeAttr != null)
                                        {
                                            // Метод требует авторизацию, но пользователь не авторизован
                                            if (!isAuthenticated)
                                            {
                                                canAccess = false;
                                            }
                                            else if (!string.IsNullOrEmpty(authorizeAttr.Roles))
                                            {
                                                // Метод требует определенные роли, проверяем роль пользователя
                                                var requiredRoles = authorizeAttr.Roles.Split(',');
                                                canAccess = requiredRoles.Contains(userRole);
                                            }
                                        }

                                        if (canAccess)
                                        {
                                            var actionName = methodInfo.Name;
                                            <a href="@Url.Action(actionName, controllerName)" class="btn btn-primary btn-md">
                                                @actionName
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <section class="list-group-item m-3">
        @Html.Action("ListOfCashiersPartialView", "Lab2V2")
    </section>
</main>